CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/firmware/baram-qmk-h7s-boot/build
/firmware/baram-qmk-h7s-fw/build
firmware/baram-qmk-h7s-fw/project_structure_for_ai.txt
firmware/baram-qmk-h7s-fw/src/ap/modules/qmk/file_contents_summary.txt
firmware/baram-qmk-h7s-fw/src/ap/modules/qmk/keyboards/era/sirind/brick60/file_contents_summary.txt
